In [3]:
#Preg 1


letters = ['a', 'b', 'c']
for ii,x in enumerate(letters):
    print(ii, ": ", x)

0 :  a
1 :  b
2 :  c

In [5]:
def add(a, b = 10):
    return a + b

add(a = 20)

30

In [8]:
x = '45.4'

y = float(x)

print(type(y))

<class 'float'>

In [9]:
import numpy as np

x = np.array([5,6,7])
x

array([5, 6, 7])

In [10]:
packages = ["numpy", "pandas", "scipy"]

for i in packages:
    print(i)

numpy
pandas
scipy

In [14]:
s = "animal-horse"

s.split("-")

['animal', 'horse']

In [16]:
x = (1, 2, 3)

type(x)

tuple

In [17]:
class Dog:
    def __init__(self):
        pass
    
    def bark(self):
        return "bark bark bark bark bark bark..."

d = Dog()
d.bark()

'bark bark bark bark bark bark...'

In [19]:
day = 'monday'
if day == 'friday':
    print('It is Friday!')
else:
    print('It is not Friday!')

It is not Friday!

In [46]:
for i in 'programming':
    if i == 'a':
        break
    
    print(i)

p
r
o
g
r

In [47]:
def add(a,b):
    print(a + b)

add(3, 5)

8

In [48]:
class Planet:
    def __init__(self, name):
        self.name = name
        
v = Planet('venus')

v.name

'venus'

In [50]:
def time_to_seconds(hours, minutes):
    print(hours * 60 * 60 + minutes * 60)

time_to_seconds(1,50)

6600

In [56]:

this_var = 30

def functt():
    
    this_var = 20
    print(this_var)

print(this_var)

functt()

print(this_var)

30
20
30

In [58]:
class AstroBody:
    description = 'Natural entity in the observable universe.'    

class Star(AstroBody):
    pass

sun = Star()

sun.description

'Natural entity in the observable universe.'

In [89]:
s = [ i * 3 for i in range(5)]
s

[0, 3, 6, 9, 12]

In [102]:
s = [(i<1) for i in range(5)]
s

[True, False, False, False, False]

In [68]:
def make_dict(**kwargs):
    return kwargs

make_dict(a = 1, b = 2)

{'a': 1, 'b': 2}

In [71]:
def multiply(a, b):
     return a * b

x = multiply(3, 4)

x

12

In [72]:
def return_random(value):
    return value

return_random('two')

'two'

In [85]:
x = (1, 2, 3)
s = tuple(x)

s

(1, 2, 3)

In [87]:
book = {
    'title': 'The Giver',
    'author': 'Lois Lowry',
    'rating': 4.13
}

book = {'format' : 'paperback'}


book['format']

'paperback'