In [13]:
# data analysis
import numpy as np
import pandas as pd

# data visualization
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

data = pd.read_csv(r'D:\OneDrive\OneDrive - WFT\Compartido\Well_Datasets\Badan_Shell\test_separator.csv')
data = data[1:]
print("Data Loaded OK")

Data Loaded OK

In [14]:
data.describe(include="all")

,Well Feeding,Sep. Static Press,Sep. diff. Press,Sep. Gas Temp,Orif. Diam.,Gas Rate,Gas Cumm.,GOR (Gas/Oil Ratio) Test,Oil Temp,Oil Flow,Oil Cumm.,Water Flow Rate,Water Cumm.,Flow Water Cut
count,6937,6937,6937,6937,6937,6937,6937,6937,6937,6937,6937,6937,6937,6937
unique,2,4541,3472,2024,5,4636,4663,4505,2234,3386,4676,2319,4007,1934
top,BAN-1001,0.00,-,-,1.000,0.00,7156488.74,0.00,-,0.00,6291.28,0.00,8045.02,0.00
freq,5114,699,1831,1895,2839,2275,1831,2276,1902,2262,1829,2918,1839,2918

In [15]:
# get the list of all the features in the dataset
print(data.columns.values)

['Well Feeding' 'Sep. Static Press' 'Sep. diff. Press' 'Sep. Gas Temp'
 'Orif. Diam.' 'Gas Rate ' 'Gas Cumm.' 'GOR (Gas/Oil Ratio) Test'
 'Oil Temp' 'Oil Flow ' 'Oil Cumm.' 'Water Flow Rate' 'Water  Cumm.'
 'Flow Water Cut ']

In [40]:

data = data[data['Sep. Static Press']!='-']
data = data[data['Sep. Gas Temp']!='-']
data = data[data['Gas Rate ']!='-']
data = data[data['Oil Flow ']!='-']
data = data[data['Water Flow Rate']!='-']

data = data[['Sep. Static Press', 'Sep. Gas Temp','Gas Rate ', 'Oil Flow ','Water Flow Rate']].astype(float)

data['Liq Flow'] = data['Oil Flow '] + data['Water Flow Rate']
data['WC'] =  data['Water Flow Rate'] / (data['Oil Flow '] + data['Water Flow Rate'])

data[['Sep. Static Press', 'Sep. Gas Temp','Gas Rate ', 'Liq Flow', 'WC']].describe()

,Sep. Static Press,Sep. Gas Temp,Gas Rate,Liq Flow,WC
count,5042.000000,5042.000000,5042.000000,5042.000000,4675.000000
mean,585.019381,24.853786,70290.077927,81.061190,0.158711
std,61.722278,6.048914,39141.576455,41.441491,0.095632
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,581.100000,20.930000,37793.722500,55.570000,0.077981
50%,594.640000,25.010000,71840.625000,74.470000,0.190589
75%,610.340000,28.970000,113620.937500,115.767500,0.238377
max,716.720000,41.920000,146575.750000,171.480000,1.000000